<div class="container" style="padding-top: 10px">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Student List
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-success" (click)="addStudent()">Add Student</button>
                    </div>
                    <br/>
                    
                    <div class="accordion">
                        <div class="card" data-toggle="collapse" data-target="#a">
                            <div class="card-header" id="headingOne">
                            <h6 class="mb-0">
                                Collapsible Group Item #1
                            </h6>
                            </div>
                        
                            <div id="a" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>