<div class="container" style="padding-top: 10px">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Class List
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-success"
                                data-toggle="modal" data-target="#addModal">Add Class</button>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-4" *ngFor="let c of all_classes">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ c.name }}</h5>
                                    <p class="card-text">
                                        Ages: {{ getAgeString(c.age_group) }}<br/>
                                        Category: {{ getCategoryString(c.category) }}
                                    </p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger"
                                                data-toggle="modal" data-target="#deleteModal"
                                                (click)="preDelete(c)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Class Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Class</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="add_class_form">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="className">Name</label>
                        <input required type="text" id="className" class="form-control"
                               formControlName="name" placeholder="ex. Robot Dinosaur">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="categorySelect">Category</label>
                        <select required class="form-control" id="categorySelect" formControlName="age_group">
                            <option *ngFor="let age of getAgeMapping()" [value]="age.id">{{ age.name }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ageSelect">Age Group</label>
                        <select required class="form-control" id="ageSelect" formControlName="category">
                            <option *ngFor="let cat of getCategoryMapping()" [value]="cat.id">{{ cat.name }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"
                    [disabled]="!add_class_form.valid" (click)="addClass()">Add</button>
        </div>
        </div>
    </div>
</div>

<!-- Delete class modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" *ngIf="pre_delete != undefined">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You are about to delete<br/>
            <b>
            {{ pre_delete.name }}<br/>
            {{ getCategoryString(pre_delete.category) }}<br/>
            {{ getAgeString(pre_delete.age_group) }}<br/>
            </b>
            Are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="deleteClass()">Delete</button>
        </div>
        </div>
    </div>
</div>